<div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th class="left-align" style="width: 50%;">Product Description / SKU</th>
            <th class="center-align" style="width: 5%;">Qty</th>
            <th class="right-align" style="width: 10%;">Unit Price</th>
            <!-- <th class="right-align" style="width: 9%;">Discount</th> -->
            <th class="right-align" style="width: 35%;">Total Amt</th>
          </tr>
        </thead>
        <tbody>
          {{itemsHtml}}
        </tbody>
      </table>
    </div>